// bootstrap
$body-color: #2d2d2d;
$primary: #00f6f6;
$secondary: #ffea7d;
$pink: #ff408b;
$jumbotron-bg: transparent;
$dark: $body-color;

$headings-font-family: "Open Sans", serif;
$link-color: $body-color;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
