// bootstrap
// $font-family-sans-serif: Roboto, sans-serif;
// $font-family-monospace: "Roboto Mono", Consolas, monospace;
$body-color: #353637;
$primary: #00F6F6;
$secondary: #FFEA7D;
$pink: #FF408B;
$jumbotron-bg: transparent;
$dark: $body-color;

$headings-font-family: 'Roboto Slab', serif;
$link-color: $pink;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
